.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.eggs/
.pytest_cache/
.ipynb_checkpoints/
logs/
pbslogs/
outputs/
wandb/
.cache/
~$*
tmp/
tmp_*/
__dump__/